@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* 1. CLASS UNTUK WARNA TEKS (Teks Color) */
    .color-primary {
        @apply text-primary;
    }
    .color-secondary {
        @apply text-secondary;
    }
    .color-tertiary {
        @apply text-tertiary;
    }
    .color-quartenary {
        @apply text-quartenary;
    }

    /* 2. CLASS BARU UNTUK LATAR BELAKANG (Background Color) */
    .fill-primary {
        @apply bg-primary; /* Sekarang .fill-primary memanggil utility bg-primary, tidak ada konflik */
    }
    .fill-secondary {
        @apply bg-secondary;
    }
    .fill-tertiary {
        @apply bg-tertiary;
    }
    .fill-quartenary {
        @apply bg-quartenary;
    }
}

/* Untuk Browser Berbasis WebKit (Chrome, Safari, Opera) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Menghilangkan tampilan default WebKit */
    margin: 0; /* Penting untuk Firefox jika Anda menggunakan margin kustom */
}

/* Untuk Mozilla Firefox */
input[type="number"] {
    -moz-appearance: textfield; /* Mengubah tampilan kembali ke text field biasa */
}
